@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url('./fonts/woff2/PretendardVariable.woff2') format('woff2-variations');
}

:root {
  --font-pretendard: 'Pretendard Variable';
  line-height: 1.5;
  color-scheme: light dark;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-input {
  position: relative;
}

.form-input input {
  width: 320px;
  height: 40px;
  margin: 8px;
  padding: 8px;
  border: 1px solid burlywood;
  border-radius: 8px;
  outline: none;
}

.form-input input:focus {
  border: 2px solid burlywood;
}

.form-input label {
  color: burlywood;
  padding: 0 4px;
  top: 50%;
  left: 16px;
  position: absolute;
  transform: translateY(-50%);
  transition: 0.2s;
}

.form-input input:focus~label,
.form-input input:valid~label {
  font-size: 0.8rem;
  font-weight: 500;
  top: 8px;
  background-color: white;
}

.form-button {
  width: 320px;
  margin: 16px 8px 8px 8px;
  padding: 8px;
  color: white;
  background-color: burlywood;
  border-radius: 8px;
}

.text-button {
  margin: 8px;
  white-space: nowrap;
  align-self: flex-end;
  text-decoration: underline; 
  font-size: 0.8rem;
  color: burlywood;
}

.navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  padding: 8px;
  background-color: burlywood;
}

.navbar-menu {
  margin: 8px;
}

/* Flex related */
.flex {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.center {
  justify-content: center;
  align-items: center;
}

.justify-right {
  justify-self: end;
}

.sp-1 {
  flex-grow: 1;
}