@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url('./fonts/woff2/PretendardVariable.woff2') format('woff2-variations');
}

:root {
  --font-pretendard: 'Pretendard Variable';
  line-height: 1.5;
  color-scheme: light dark;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 393px;
  height: 852px;

  /* Colors */
  --primary: #3189f0;
  --label-1: #2c2c2e;
  --label-2: #3d3d3d;
  --label-3: #666668;
  --label-4: #d9d9d9;
  --bgffffff: #ffffff;
  --bg-1: #f2f2f7;
  --shadow: #e5e5ea;
}

.shadow-bottom {
  box-shadow: 0px 1px 0px 0px var(--shadow);
}

.shadow-top {
  box-shadow: 0px -1px 0px 0px var(--shadow);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-button {
  margin: 8px;
  white-space: nowrap;
  align-self: flex-end;
  text-decoration: underline;
  font-size: 0.8rem;
  color: burlywood;
}

.navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  padding: 8px;
  background-color: burlywood;
}

.navbar-menu {
  margin: 8px;
}

/* Flex related */
.flex {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.center {
  justify-content: center;
  align-items: center;
}

.justify-right {
  justify-self: end;
}

.sp-1 {
  flex-grow: 1;
}
